
// COLORS

$color-primary: #2813bc;
$color-primary-dark: #21087c;
$color-secondry: #00e7cc;
$color-tretiary: #000;

$color-white: #ffffff;

$color-grey-light: #f3f4f8;

$color-indigo-dark: #404565;

$color-blue: #5a62ce;
$color-blue-light--1: #ebeef2;
$color-blue-light--2: #f8f9fb;

$color-blue-2: #3542f5;












// FONTS

$font-family-main: "Lato";
$font-family-second: "sans-serif";

// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;