.form {
    display: flex;


    &__container {
        display: flex;
        justify-content: left;
    }

    &__input-container {
        display: flex;
        align-items: center;
        padding: 0rem 1rem;
        background-color: $color-white;
    }

    &__input {
        border: none;
        outline: none;
        background-color: rgba($color-primary, 0);
        padding: 2rem 1rem;

        &--width-large {
            width: 40rem;
        }

        &--width-small {
            width: 12rem;
        }

        &::-webkit-input-placeholder {
            font-size: 1.1rem;;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;
    }
}